<div class="page-content ">
  <div class="card-header ">
      <h2 class="card-title p-1 mb-3 text-center">Booking Requests History</h2>
  </div>
  <div class="card-block ">
    <div class="row">
    <%# used reversed loop %>
    <% @bookings.reverse_each do |booking| %>
      <%= render booking %>
    <% end %>
  </div>
</div>
<%= link_to "Back to Home Page", root_path , class: "btn btn-primary mx-1"%>
