.bg-light-blue {
  background-color: #e9f7fe !important;
  color: #044464;
  padding: 1px 14px;
  border-radius: 4px;
}

.bg-light-grey {
  background-color: #d8e3e8 !important;
  color: #000000;
  padding: 1px 14px;
  border-radius: 4px;
}

figure {
  overflow: visible;
}
.card {
  margin: 1%;
}

.hoverfront figure img {
  transition: 0.3s ease-in-out;
}

.hoverfront figure:hover img {
  transform: scale(1.02);
}

.hovermain figure img {
  width: 444px;
  height: auto;
  transition: 0.3s ease-in-out;
}

.hovermain figure:hover img {
  transform: scale(1.02);
}

.hovercar figure img {
  width: 444px;
  height: auto;
  transition: 0.3s ease-in-out;
}

.hovercar figure:hover img {
  transform: scale(1.5);
}

.gridcar {
  display: flex;
  flex-direction: row;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.car-header {
  color: #434343;
  font-weight: 600;
}

.car-available {
  color: #009c08;
  font-weight: 600;
}
.car-booked {
  color: #ff4517;
  font-weight: 600;
}
.formsize {
  width: 12rem;
}
