<div class="container py-5 h-100 ">
  <div class="row d-flex justify-content-center align-items-center h-100 m-0">
   <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
     <div class="card shadow-2-strong shadow" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h2 class="mb-5">Editing Car</h2>
            <%= render "form", car: @car %>
        </div>
      </div>
    </div>
  </div>
</div>
            
<div class="d-flex justify-content-center m-0">
  <%= link_to "Show this car", @car , class: "btn btn-primary mx-1"%> 
  <%= link_to "Back to cars", cars_path , class: "btn btn-primary mx-1" %>
</div>
